@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("./fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  src: url("./fonts/Montserrat-ExtraBold.otf");
}

$soft-white: #f1eae0;
$nude: #b6a492;
$pale-nude: #e7d3c9;
$blush: #d09b7b;
$terracotta: #bb6f1c;
$blue: #cbd2d4;
$dark-green: #3A4F41;
$light-green: #749C75;
$retro-green: #909E84;
$retro-white: #C4C4C4;
$retro-brown: #75654C;
$retro-orange: #E8B38C;
$gray: #d4d1cb;
$pink: #d19f8f;
$orange: #b45118;
$soft-pink: #d0b0af;


$nav-tablet-width: 50%;
$nav-mobile-width: 80%;

body {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-weight: 800;
  margin-block-start: 0;
}

h1 {
  font-size: calc(4.44vw +  1rem);
}

h2 {
  font-size: calc(2.16vw +  1rem);
}

h3 {
  font-size: calc(1.7vw +  1rem);
}

h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 100;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.2vw +  0.9rem);
  line-height: 1.3em;
  margin: 0 0 1em 0;
  letter-spacing: 0.2px;
}

a {
  color: $terracotta;
  text-decoration: none;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.2vw +  0.9rem);
  line-height: 1.3em;
  letter-spacing: 0.2px;
}

@mixin custom-button {
  padding: 0.8em 2em;
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
  transition: 0.2s linear;
  cursor: pointer;
  text-decoration: none;
}

.button {
  @include custom-button;
  background: $retro-brown;
  color: white;
  transition: 0.2s linear;
  position: relative;
  letter-spacing: 1px;
  border-radius: 3rem;

  &:hover {
    background: transparent;
    color: $retro-brown;

    &:before {
      width: 100%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px $retro-brown solid;
    transition: 0.5s ease-out;
  }
}

.nav-wrapper {
  width: 100%;
  position: fixed;
  z-index: 7;

  #logo {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    z-index: 5;
    cursor: pointer;

    h1 {
      color: black;
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-weight: 800;
      font-size: 3em;
      background: $soft-white;
      width: 50px;
      height: 50px;
      text-align: center;
    }

    img {
      transition: 0.2s;
      width: 150px;
      z-index: 6;
    }
  }
}

.nav {
  width: 100%;
  background: $retro-orange;
  top: 0;
  overflow: hidden;
  position: fixed;
  height: 10px;
  transform: translateY(-10px);
  transition: .3s cubic-bezier(0.25, 0.1, 0.25, 1);
  // opacity: 0.9;

  &.hover {
    transform: translateY(0);
  }
}

.open-enter {
  height: 10px;
}

.open-enter-active {
  height: 16rem;
  transition:  .3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.open-enter-done {
  height: 16rem;
}

.open-exit {
  height: 14rem;
}

.open-exit-active {
  height: 10px;
  transition:  .3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.open-exit-done {
  height: 10px;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.75rem -6rem auto;
  align-items: flex-end;

  a {
    width: 25%;
    padding: 0px;
    cursor: pointer;
    text-align: right;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    color: black;
    text-decoration: none;

    p {
      margin-bottom: 0px;
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-weight: 800;
      font-size: 0.8em;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 1.25rem;
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-size: 2.0em;
      transition: 0.2s;
      font-weight: 900;
    }

    &:hover h3 {
      color: $retro-brown;
    }
  }
}

.menu {
  position: fixed;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 5;
  width: 30px;
  height: 30px;

  span {
    position: absolute;
    width: 30px;
    border-bottom: 2px solid black;
    margin: 8px 0;
    z-index: 5;
    transition: 0.3s ease-in-out;
  }

  span:nth-of-type(2), span:nth-of-type(3) {
    top: 10px;
  }

  span:nth-of-type(4) {
    top: 20px;
  }
}

.cross-enter {
  span:nth-of-type(1) {
    width: 30px;
    top: 0;
    left: 0;
  }

  span:nth-of-type(2) {
    transform: rotate(0deg);
  }

  span:nth-of-type(3) {
    transform: rotate(0deg);
  }

  span:nth-of-type(4) {
    width: 30px;
    top: 20px;
    left: 0;
  }
}

.cross-enter-active {
  span:nth-of-type(1) {
    transition: .3s ease-in-out;
    width: 0;
    top: 14px;
    left: 50%;
  }

  span:nth-of-type(2) {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
  }

  span:nth-of-type(3) {
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
  }

  span:nth-of-type(4) {
    transition: .3s ease-in-out;
    width: 0px;
    top: 14px;
    left: 50%;
  }
}


.cross-enter-done {
  span:nth-of-type(1) {
    width: 0;
    top: 14px;
    left: 50%;
  }

  span:nth-of-type(2) {
    transform: rotate(45deg);
  }

  span:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  span:nth-of-type(4) {
    width: 0px;
    top: 14px;
    left: 50%;
  }
}

.cross-exit {
  span:nth-of-type(1) {
    width: 0;
    top: 14px;
    left: 50%;
  }

  span:nth-of-type(2) {
    transform: rotate(45deg);
  }

  span:nth-of-type(3) {
    transform: rotate(-45deg);
  }

  span:nth-of-type(4) {
    width: 0px;
    top: 14px;
    left: 50%;
  }
}

.cross-exit-active {
  span:nth-of-type(1) {
    width: 30px;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }

  span:nth-of-type(2) {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
  }

  span:nth-of-type(3) {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
  }

  span:nth-of-type(4) {
    transition: 0.3s ease-in-out;
    width: 30px;
    top: 20px;
    left: 0;
  }
}

.cross-exit-done {
  span:nth-of-type(1) {
    width: 30px;
    top: 0;
    left: 0;
  }

  span:nth-of-type(2) {
    transform: rotate(0deg);
  }

  span:nth-of-type(3) {
    transform: rotate(0deg);
  }

  span:nth-of-type(4) {
    width: 30px;
    top: 20px;
    left: 0;
  }
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 1rem;

  h1 {
    color: $retro-brown
  }
}

.accent {
  color: $orange;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: .7s cubic-bezier(.97,0,.68,.93) .3s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.switch-enter {
  left: 100%;
}

.switch-enter-active {
  left: 0;
  transition: .7s cubic-bezier(.97,0,.68,.93) .3s;
}

.switch-enter-done {
  left: 0;
}

.switch-exit {
  left: 0;
}

.switch-exit-active {
  left: -100%;
  transition: .7s cubic-bezier(.97,0,.68,.93) .3s;
}

.switch-exit-done {
  left: -100%;
}

@media (max-width: 1024px) {
  p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .nav-wrapper {
    width: $nav-tablet-width;

    #logo {
      left: 2rem;

      img {
        width: 80px;
      }
    }
  }

  .nav {
    left: 100%;
    width: $nav-tablet-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);

    &.hover {
      transform: translateY(0);
    }
  }

  .open-enter {
    left: 100%;
  }

  .open-enter-active {
    left: $nav-tablet-width;
  }

  .open-enter-done {
    left: $nav-tablet-width;
  }

  .open-exit {
    left: $nav-tablet-width;
  }

  .open-exit-active {
    left: 100%;
  }

  .open-exit-done {
    left: 100%;
  }

  .nav-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: auto 50rem auto;

    a {
      width: 100%;
      padding: 0;
    }

    .nav-item {
      padding: 0.5em 0;
    }
  }
}

@media (max-width: 650px) {
  .nav-wrapper {
    width: $nav-mobile-width;

    .menu {
      right: 2rem;
      top: 2rem;
    }

    #logo {
      left: 1rem;
    }

  }

  .nav {
    width: $nav-mobile-width;
  }

  .nav-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: auto 50rem auto;
  }

  .open-enter-active {
    left: 100% - $nav-mobile-width;
  }

  .open-enter-done {
    left: 100% - $nav-mobile-width;
  }

  .open-exit {
    left: 100% - $nav-mobile-width;
  }

  .section {
    padding: 2em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }
}